# Dependencies
node_modules/
frontend/node_modules/
backend/node_modules/

# Environment variables (CRITICAL: Do not leak your Mongo/Cloudinary keys!)
.env
backend/.env
frontend/.env

# Build outputs
dist/
build/
.DS_Store